.navbar-container{
  background-color: #519fd2;
  padding: 1em 0em;
}

.navbar{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.navbar a{
  color: #FFF;
  text-decoration: none;
}